@page "/signup"
@inject NavigationManager Navigation

<h3 class="text-center mt-5">Sign Up</h3>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <EditForm Model="@user" OnValidSubmit="HandleValidSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <InputText class="form-control" id="firstName" @bind-Value="user.FirstName" placeholder="Enter your first name" />
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <InputText class="form-control" id="lastName" @bind-Value="user.LastName" placeholder="Enter your last name" />
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <InputText type="email" class="form-control" id="email" @bind-Value="user.Email" placeholder="Enter your email" />
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <InputText type="password" class="form-control" id="password" @bind-Value="user.Password" placeholder="Enter your password" />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private UserModel user = new UserModel();

    private void HandleValidSubmit()
    {
        // Handle user registration logic here

        // Redirect to the main page
        Navigation.NavigateTo("/main");
    }

    public class UserModel
    {
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public string Email { get; set; }
        public string Password { get; set; }
    }
}